<div class="jumbotron text-center">
  <h1 class="display-4">Mongo News</h1>
  <p class="lead">Bringing you the latest news from CNET with an easy to and anonymous shared commenting system.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>