<div class="jumbotron text-center">
    <h1 class="display-1">Mongo News</h1>
    <p class="lead my-4">Bringing you the latest news from CNET with an easy to and anonymous shared commenting system.</p>
    <a class="btn btn-primary btn-lg my-4" id="scrape">Get new articles</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {{#each article}}
                    {{>articles/article-block}}
                {{/each}}
            </ul>
        </div>
        {{!-- <div class="col-md-4">

        </div> --}}
    </div>
</div>